*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    height: calc(100vh - 210px);
    padding: 50px;
    overflow: auto;
    background-color: #000000;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Utilities */

.d-block{
    display:block;
}

.d-flex{
    display: flex;
}

.jc-space-b{
    justify-content: space-between;
}

.ai-center{
    align-items: center;
}

.f-wrap{
    flex-wrap: wrap;
}

.p-left10{
    padding-left: 10px;
}

.p-right5{
    padding-right: 5px;
}

.p-right10{
    padding-right: 10px;
}

.p-right15{
    padding-right: 15px;
}

.m-right10{
    margin-right: 10px;
}

.m-right15{
    margin-right: 15px;
}


/* Menu Top */
.menu-top{
    height: 90px;
    background-color: #000000;
    text-align: right;
    padding-top: 5px;
}

.options button{
    color:white;
    background-color: #4A4A4A;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
    padding: 4px;
    cursor: pointer;
}
/* Main */

.user{
    position: relative;
    width: calc(100% / 7);
    padding: 5px;
    min-width: 150px;
}

.image img{
    object-fit: cover;
    width: 100%;
}

.name{
    position: absolute;
    bottom: 8px;
    left: 5px;
    color: white;
    background-color: rgba(0, 0, 0,.3);
    padding: 2px;
    font-size: 14px;
    text-transform: capitalize;
}

/* Menu Bottom */
.menu-bottom{
    height: 120px;
    color: white;
    background-color: #222222;
}

.menu-bottom span{
    font-size: 14px;
}

.icon, .options, .freccia, .end-button button{
    cursor: pointer;
}

.function i,
.other i{
    font-size: 30px;
}

.icon span{
    transform:translate(-25%);
    padding-top: 5px;
}

.function .freccia,
.other .freccia{
    font-size: 12px;
    display: flex;
    align-self: center;
    padding-right: 30px;
}


#manage{
    padding-left: 5px;
    padding-right: 20px;
}

#group{
    transform: translate(50px);
    font-size: 26px;
}

#groupdesc{
    transform: translate(0, 4px);
}

#green{
    color: #4BC800;
}

#grid{
    transform: translate(15px);
}

#more{
    transform: translate(-5px);
}

.end-button button{
    padding: 52px 10px;
    color: #D72819;
    background-color: #4A4A4A;
    border: none;
}