*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-top{
    height: 90px;
    background-color: red;
}

main{
    height: calc(100vh / 180px);
    background-color: yellow;
}

.menu-bottom{
    height: 90px;
    background-color: orange;
}